
  <div class="about-us container ">
    <div class="heading" ng-controller="AboutController">
        <h1>About-Us</h1>

                <p>Introducing Fanimation: Your Destination for Exquisite Ceiling Fans. With over 30 years of expertise in the industry, we proudly bring you DesignerFans.com.au, an online store showcasing the finest collection of ceiling fans worldwide. Our passion lies in crafting exceptional, top-notch ceiling fans that are truly one-of-a-kind. Discover the perfect blend of innovative design and superior quality at Fanimation.</p>
    
                <p>Experience Unmatched Elegance and Performance with Our Exclusive Collection of Ceiling Fans. Through a collaboration between the prestigious Iconic Fan Company, Minka Aire, and Modern Fan Company, we present a curated selection of ceiling fans that blend captivating design with unparalleled cooling efficiency. Discover the perfect harmony of style and functionality, as our fans become the centerpiece of any space, providing both comfort and beauty.</p>

    </div>

    <div class="a-container">

        <section class="about"> 

            <div class="about-image">
                <img src="https://images.pexels.com/photos/14495888/pexels-photo-14495888.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
               
            </div>

            <div class="about-content">
                 <h2>We manufacture the best electric and manuel fans.</h2>
                <p>Join us on this journey as we continue to elevate the art of ceiling fans, offering you the perfect balance of functionality, aesthetics, and innovation. Experience the Fanimation difference and transform your living spaces into havens of comfort and style.</p>
                <a href="" class="read-more btn btn-dark">Read More</a>
            </div>
        </section>
    </div>
  </div> 
   
   
