 /* HEADER SECTION */
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'playfair Regular';
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}
header{
    width: 100%;
    z-index: 2000;
    background-color: #fff;
    transition: box-shadow 0.3s ease;
    top: 0;
}
.logo-div{
    width: 15vw;
}
.logo{
    filter: invert(100%);
    width: 100%;
    object-fit:contain;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.nav-item >a {
    white-space: nowrap;
    font-size: 1.1rem;
    color: #000;
    padding-bottom: 0.5rem;
}
.nav-item >a:hover{
    color: rgba(58, 8, 8, .8);
    border-bottom: 4px solid rgba(58, 8, 8, .8);
    transition: 300ms ease-in-out;
}
  a:active{
    color: rgba(91, 56, 56, 0.5);
}
a:visited{
    color: rgba(91, 56, 56, 0.8);
}
input::placeholder{
    color: #fff;
}
.search-bar {
    text-align: center;
    background-color:  rgba(58, 8, 8, .8);
    color: #fff;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.5rem;
}
.landing{
    height: 100vh;
}
.first-section{
    position: relative;
}
.bars>button{
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
}
.dropdown-category{
    padding: 1rem;
}
.dropdown-category > li {
    padding: 1rem;
    font-size: 1.2rem;
}
/* FOOTER SECTION */
footer{
    background: rgba(58, 8, 8, .8);
    color: #fff;
    border: none;
}
.footer-logo{
    padding-left: 0;
}
.logo-text{
    font-size: 1.1rem;
    color: #fff;
}
.newsletter-form > input {
    background-color: transparent;
    border: none;
    padding: 1.3rem;
    font-size: 1.1rem;
    color: #fff;
}
.newsletter-form > input:focus {
    outline: none;
}
.newsletter-form{
   margin-left: 0;
   width: 35vw;
   background-color: #fff;
}
.newsletter-form > button {
    background-color: rgb(58, 8, 8);
    font-size: 1.1rem;
    color: #fff;
}
.nav-section{
    flex: .8;
}
.social-media{
    font-size: 2rem;
}

/* time ticker  */
/* .ticker-tape{
    background-color: ;
    width: 100%;
    text-align: center;
    padding: 2rem;
    overflow: hidden;
} */

@media screen and (max-width: 1024px) {
    /* FOOTER */
    .footer-jc{
        padding: 1.5rem;
    }
    .footer-logo{
        padding: 1rem;
        padding-left: 0;
    }
    .logo-text{
        font-size: 1rem;
    }
    .newsletter-form > input {
        padding: 1rem;
        font-size: 1rem;
    }
    .newsletter-form > button {
        padding: 1rem;
        font-size: 1rem;
    }
    .nav-section{
        padding: 1rem;
        flex: 1;
    }
    .nav-links{
        padding: 1.5rem;
        padding-top: 0;
    }
    .social-media{
        font-size: 1.5rem;
        padding: .5rem;
    }

      } 
@media screen and (max-width: 991px) {
    .mobile-navigation{
        display: block;
        position: absolute;
        background-color: rgba(58, 8, 8, .9);
        width: 100%;
        text-align: center;
        top: 100%;
        left: 0;
        padding: 2rem;
        overflow-y: scroll;
        overflow-x: hidden;
        max-height: 100vh;
    }
    .nav-item {
        display: block;
        padding: 2rem;
        color: #fff;
        text-decoration: none;
        font-size: 1.1rem;
        font-weight: 600;
        font-style: normal;
    }
    .nav-item >a {
        color: #fff;
    }
    .nav-item:hover {
        border-bottom: 2px solid #fff;
        transition: 200ms;
    }
    .dropdown-category{
        padding: 1rem;
        background-color: #fff;
    }
    .dropdown-category > li {
        padding: 1rem;
        font-size: 1.2rem;
    }
    .dropdown-category > li > a {
        color: rgb(58, 8, 8);
    }

} 

@media screen and (max-width: 845px) {
    /* FOOTER */
    .footer-jc{
        padding: 1rem;
    }
    .footer-logo{
        padding: .7rem;
        padding-left: 0;
    }
    .logo-text{
        font-size: .8rem;
    }
    .newsletter-form > input {
        padding: .8rem;
        font-size: .9rem;
    }
    .newsletter-form > button {
        padding: .8rem;
        font-size: .8rem;
    }
    .nav-section{
        padding: .8rem;
        flex: 1.2;
    }
    .nav-links{
        padding: .6rem;
        padding-top: 0;
    }
    .social-media:first-child{
        font-size: 1rem;
        padding: .3rem;
    }
    .mobile-navigation{
        display: block;
        position: absolute;
        background-color: rgba(58, 8, 8, .9);
        width: 100%;
        text-align: center;
        top: 100%;
        left: 0;
        padding: 2rem;
        overflow-y: scroll;
        overflow-x: hidden;
        max-height: 100vh;
    }
    .nav-item {
        display: block;
        padding: 2rem;
        color: #fff;
        text-decoration: none;
        font-size: 1.1rem;
        font-weight: 600;
        font-style: normal;
    }
    .nav-item >a {
        color: #fff;
    }
    .nav-item:hover {
        border-bottom: 2px solid #fff;
        transition: 200ms;
    }
    .dropdown-category{
        padding: 1rem;
        background-color: #fff;
    }
    .dropdown-category > li {
        padding: 1rem;
        font-size: 1.2rem;
    }
    .dropdown-category > li > a {
        color: rgb(58, 8, 8);
    }
    } 
@media screen and (max-width: 685px){
/* HEADER  */
.nav{
    display: none;
}
.bars>button{
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
}
/* FOOTER */
footer{
    text-align: center;
}
.footer-jc{
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
    padding: 0;
    text-align: center;
}  
.footer-logo{
    padding: 1rem;
    padding-left: 0;
}
.logo-text{
    font-size: 1.1rem;
}
.newsletter-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    margin-left: 0;
    width: 80vw;
    border-radius: .4rem;
 }
.newsletter-form > input {
    padding: 1.5rem;
    font-size: 1rem;
}
.newsletter-form > input:focus {
    outline: none;
}
.newsletter-form > button {
    background-color: rgb(225, 170, 68);
    border: none;
    padding: 1.3rem;
    font-size: 1.1rem;
    border-radius: .4rem;
    width: 100%;
}
.nav-section{
    flex-direction: column;
    padding: 2rem;
    flex: .8;
}
.nav-links{
    padding: 2rem;
    padding-top: 0;
}
.nav-links > h3, .socials > h3{
    text-transform: capitalize;
    padding: 1rem;
    padding-left: 0;
}
.footer-nav{
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    color: #fff;
    padding: 1rem 0;
}
.socials > ul {
    display: flex;
    justify-content: center;
}
.social-media{
    display: block;
    color: #fff;
    font-size: 2rem;
    padding: .5rem;
}
.mobile-navigation{
    display: block;
    position: absolute;
    background-color: rgba(58, 8, 8, .9);
    width: 100%;
    text-align: center;
    top: 100%;
    left: 0;
    padding: 2rem;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 100vh;
}
.nav-item {
    display: block;
    padding: 2rem;
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
    font-style: normal;
}
.nav-item >a {
    color: #fff;
}
.nav-item:hover {
    border-bottom: 2px solid #fff;
    transition: 200ms;
}
.dropdown-category{
    padding: 1rem;
    background-color: #fff;
}
.dropdown-category > li {
    padding: 1rem;
    font-size: 1.2rem;
}
.dropdown-category > li > a {
    color: rgb(58, 8, 8);
}
}



/* PRODUCT DESCRIPTION */

.description{
    z-index: 1500;
    top: 10%;
    left: 15%;
    width: 75vw;
    height: 80vh;
    background-color: #fff;
    overflow-y: scroll;
}
.info{
    width: 100%;
    background-color: rgba(58, 8, 8, .85);
    flex: 1;
}
.img img{
    width: 100%;
    height: 100%;
}
.img{
    flex: 1.5;
}
.category-name{
    font-size: 1rem;
    margin: .1;
    color: rgba(255, 255, 255, .7);
}
.fa-star{
    color: orange;
}
.counts{
    border: 1px rgb(58, 8, 8) solid ;
}
.count-value{
    font-size: 1.6rem;
}
.count-price{
    left: 47%;
    box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, .4);
}
.colour{
    display: inline-block;
    cursor: pointer;
    margin: 0.2rem;
}
.colour img{
    object-fit: cover;
}
.colour:hover{
    border: 1px #fff solid;
}
.filter-span{
    background: linear-gradient( 90deg, rgb(58, 8, 8), rgb(92, 48, 48) );
}
.count-price{
    color:rgb(58, 8, 8);
    background-color: #fff;
}
.cart-btn{
    border: none;
    height: 7vh;
    text-transform: uppercase;
    background: linear-gradient(90deg, rgb(58, 8, 8), rgba(58, 8, 8, .8));
}
.cart-btn:hover{
    filter: grayscale(30%);
}
.enter-review{
   margin-top: 10rem;
   /* background-color: #fff;
   width: 23rem */
}
.newletter-input{
    border: none;
    background-color: none;
}
.newletter-input:focus{
    outline: none;
}
.review-button{
    border: none;
    color: aliceblue;
    /* color: rgb(58, 8, 8); */
    text-transform: uppercase;
    background-color: transparent;
    /* background: linear-gradient(90deg, rgb(58, 8, 8), rgba(58, 8, 8, .8)); */
}
.main-review-input-a > input{
   width: 100%;
   outline: none;
   border: none;
   background-color: transparent;
   color: #000;
}
.main-review-input-a {
   border: 1px solid rgba(58, 8, 8, .8);

}
   
/* majesty css */
/* .bg {
    position: absolute;
    height: 50vh;
    width: 100vw;
    background: linear-gradient(#fe3b5a, #fd7914);
  } */
  .wrapper {
    /* display: none; */
    font-size: 1.2ee;
    width: 25em;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    background-color: #ffffff;
    border-radius: 0.5em;
    padding: 4em 2em;
    box-shadow: 0 1.25em 2.5em rgba(18, 0, 76, 0.15);
    color: #000;
  }
  .container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: #000;
  }
  .fa-star {
    font-size: 1.5em;
    color: #ffd700;
  }
  .number {
    display: block;
    text-align: center;
  }
  #submit {
    display: block;
    position: relative;
    background: linear-gradient(90deg, rgb(58, 8, 8), rgba(58, 8, 8, .8));
    border: none;
    padding: 0.8em 2em;
    color: #ffffff;
    font-size: 1.2em;
    border-radius: 2em;
    margin: 1em auto 0 auto;
    cursor: pointer;
  }
  #submit:disabled {
    cursor: not-allowed;
  }
  #message {
    text-align: center;
    margin-bottom: 2em;
    color: #000;
    text-transform: uppercase;
  }
  #submit-section {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    top: 0;
    left: 0;
    place-items: center;
    border-radius: 0.5em;
    color: #000;
    text-align: center;
    display: flex;
    justify-content: center;align-items: center;
    text-transform: uppercase;
  }
  .show {
    display: grid;
  }






@media screen and (max-width: 1280px) {
    .description{
        width: 80vw;
        height: 90vh;
    }
    .count-price{
        left: 50%;
    }
    .enter-review{
       margin-top: 6.5rem;
       width: 30vw;
    }
      } 
@media screen and (max-width: 1090px) {
    .description{
        width: 80vw;
        height: 95vh;
    }
    .img{
        flex: 1.3;
    }
    .count-price{
        left: 45%;
    }
    .enter-review{
       margin-top: 7rem;
       width: 35vw;
    }
      } 
@media screen and (max-width: 830px) {
    .description{
        width: 100vw;
        height: 95vh;
    }
    .img{
        flex: 1;
    }
    .count-price{
        left: 40%;
    }
    .enter-review{
       margin-top: 7rem;
       width: 40vw;
    }
      } 
@media screen and (max-width: 767px) {
    .description{
        width: 75vw;
        /* height: 80vh; */
    }
    .img{
        flex: 1.5;
        position: relative;
        background-color: #000;
        filter: brightness(70%);
        height: 50vh;
    }
    .Back{
        position: absolute;
        top: 8%;
        left: 15%;
        color: blueviolet;
    }
    .top{
        position: absolute;
        top: 40%;
    }
    .filters{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .filter-span{
        white-space: nowrap;
    }
    .count-value{
        font-size: 1.3rem;
    }
    .count-price{
        left: 16%;
    }
    .colour{
        margin: 0.1rem;
    }
    .enter-review{
        margin: 1.5rem 2rem;
       margin-top: 8.5rem;
       background-color: #fff;
       width: 60vw;
    }
      } 
@media screen and (max-width: 625px) {
    .description{
        width: 90vw;
    }
    .Back{
        left: 10%;
    }
    .count-price{
        left: 9%;
    }
    .colour{
        margin: 0.1rem;
    }
    .enter-review{
        margin: 1rem;
       margin-top: 8.5rem;
       background-color: #fff;
       width: 70vw;
    }
      } 
@media screen and (max-width: 550px) {
    .description{
        width: 90vw;
    }
    .Back{
        left: 10%;
    }
    .count-price{
        left: 6%;
        width: 87vw;
    }
    .cart-btn{
        margin: 0.2rem;
        width: 15rem;
        height: 10vh;
        font-size: 0.7rem;
    }
    .colour{
        margin: 0.1rem;
    }
    .enter-review{
        margin: 1rem 0;
       margin-top: 8.5rem;
       background-color: #fff;
       width: 70vw;
    }
      } 


      .t-ticker-tape{
        width: 100%;
        overflow: hidden;
      }
      .ticker {
        display: flex;
      }
      
      .t-ticker-tape{
        width: 100%;
      }
      
      .t-ticker-tape .ticker{
        line-height: 150px;
        white-space: nowrap;
        width: 100%;
      
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-name: ticker;
        animation-duration: 15s;

      }
      
       .ticker_items{
        display: inline-block;
        padding: 0 2rem;
        font-size: 3rem;
        font-weight: 800;
        letter-spacing: 0.4rem;
        color: rgba(58, 8, 8, .8);
        text-transform: uppercase;
      }
      
      @-webkit-keyframes ticker{
        0%{
          -webkit-transform: translateX(0);
          transform: translateX(0);
          visibility: visible;
        }
        100%{
          -webkit-transform: translateX(-300%);
          transform: translateX(-300%);
          visibility: visible;
        }
      }
      
      @keyframes ticker{
        0%{
          -webkit-transform: translateX(0);
          transform: translateX(0);
          visibility: visible;
        }
        100%{
          -webkit-transform: translateX(-300%);
          transform: translateX(-300%);
          visibility: visible;
        }
      }